<script setup>
import { computed, onMounted } from 'vue'
import ForumList from '@/components/ForumList.vue'
import { findById } from '@/helpers'
import { useForumStore } from '@/stores/forum'
import { useCategoriesStore } from '@/stores/categories'
import { useAsyncDataStatus } from '@/composables/useAsyncDataStatus'

const props = defineProps({
  id: {
    required: true,
    type: String,
  },
})

const { items, fetchCategory } = useCategoriesStore()
const { fetchForums, getForumsForCategory  } = useForumStore()
const { ready, fetched } = useAsyncDataStatus()

const category = computed(() => findById(items, props.id) || {})

onMounted(async () => {
  const category = await fetchCategory({ id: props.id })
  await fetchForums({ ids: category.forums })
  fetched()
})
</script>

<template>
  <div v-if="ready" class="container col-full">
    <h1>{{ category.name }}</h1>
    <ForumList
      :title="category.name"
      :forums="getForumsForCategory(category.id)"
    />
  </div>
</template>
