<script setup>
import { computed, onMounted } from 'vue'
import { findById } from '@/helpers'
import { useForumStore } from '@/stores/forum'
import { useThreadsStore } from '@/stores/threads'
import { useUsersStore } from '@/stores/users'
import { useAsyncDataStatus } from '@/composables/useAsyncDataStatus'
import ThreadList from '@/components/ThreadList.vue'

const props = defineProps({
  id: {
    type: String,
    required: true,
  },
})

const forumStore = useForumStore()
const threadsStore = useThreadsStore()
const usersStore = useUsersStore()
const { ready, fetched } = useAsyncDataStatus()

const forum = computed(() => findById(forumStore.items, props.id))
const threads = computed(() => {
  if (!forum.value) return []
  return threadsStore.items.map(t => threadsStore.thread(t.id)).filter(t => t.forumId === props.id)
})

onMounted(async () => {
  const forum = await forumStore.fetchForum({ id: props.id })
  const threads = await threadsStore.fetchThreads({ ids: forum.threads })
  await usersStore.fetchUsers({ ids: threads.map(thread => thread.userId) })
  fetched()
})

</script>

<template>
  <div v-if="ready" class="col-full">
    <div v-if="forum" class="col-full push-top">
      <div class="forum-header">
        <div class="forum-details">
          <h1>{{ forum.name }}</h1>
          <p class="text-lead">{{ forum.description }}</p>
        </div>
        <router-link
          :to="{ name: 'ThreadCreate', params: { forumId: forum.id } }"
          class="btn-green btn-small"
        >
          Start a thread
        </router-link>
      </div>
    </div>
    <div class="col-full push-top">
      <ThreadList :threads="threads" />
    </div>
  </div>
</template>
