<script setup>
import { computed, onBeforeMount, onMounted } from 'vue'
import { useForumStore } from '@/stores/forum'
import { useCategoriesStore } from '@/stores/categories'
import { useAsyncDataStatus } from '@/composables/useAsyncDataStatus'
import CategoryList from '@/components/CategoryList.vue'

const { fetchForums } = useForumStore()
const categoriesStore = useCategoriesStore()
const { fetchAllCategories } = useCategoriesStore()
const { ready, fetched } = useAsyncDataStatus()

const categories = computed(() => categoriesStore.items)

onBeforeMount(async () => {
  const categories =  await fetchAllCategories()
  const forumsIds = categories.map(category => category.forums).flat()
  await fetchForums({ ids: forumsIds })
  fetched()
})
</script>

<template>
  <div v-if="ready" class="container">
    <h1 class="push-top">Welcome to the Forum</h1>
    <CategoryList :categories="categories" />
  </div>
</template>
