<script setup>
import { onBeforeMount } from 'vue'
import { useAsyncDataStatus } from '@/composables/useAsyncDataStatus'

const { fetched } = useAsyncDataStatus()
onBeforeMount(() => fetched())
</script>

<template>
  <div class="col-full text-center">
    <h1>Not Found</h1>
    <router-link :to="{ name: 'Home' }">Read some cool threads</router-link>
  </div>
</template>
