<script setup>
import { computed, onBeforeMount } from 'vue'
import { useAuthStore } from '@/stores/auth'
import { useAsyncDataStatus } from '@/composables/useAsyncDataStatus'
import PostList from '@/components/PostList.vue'
import UserProfileCard from '@/components/UserProfileCard.vue'
import UserProfileCardEditor from '@/components/UserProfileCardEditor.vue'

defineProps({
  edit: {
    type: Boolean,
    default: false,
  },
})

const auth = useAuthStore()
const user = computed(() => auth.authUser)

const { fetched } = useAsyncDataStatus()
onBeforeMount(async () => {
  await auth.fetchAuthUsersPosts()
  fetched()
})
</script>

<template>
  <div class="container" style="width: 100%;">
    <div class="flex-grid">
      <div class="col-3 push-top">
        <UserProfileCard v-if="!edit" />
        <UserProfileCardEditor v-else />
      </div>

      <div class="col-7 push-top">
        <div class="profile-header">
          <span class="text-lead"> {{ user.username }} recent activity </span>
          <a href="#">See only started threads?</a>
        </div>
        <hr />
        <PostList :posts="user.posts" />
      </div>
    </div>
  </div>
</template>
