<script setup>
import { onMounted, ref } from 'vue'
import { useRouter } from 'vue-router'
import { useAsyncDataStatus } from '../composables/useAsyncDataStatus'
import { useAuthStore } from '@/stores/auth'

const router = useRouter()
const { fetched } = useAsyncDataStatus()
const { registerUserWithEmailAndPassword, signInWithGoogle } = useAuthStore()

const form = ref({
  name: '',
  username: '',
  email: '',
  password: '',
  avatar: ''
})

const register = async () => {
  await registerUserWithEmailAndPassword({ ...form.value })
  router.push('/')
}

const registerWithGoogle = async () => {
  await signInWithGoogle()
  router.push('/')
}

onMounted(() => fetched())
</script>

<template>
  <div class="flex-grid justify-center">
    <div class="col-2">
      <form @submit.prevent="register" class="card card-form">
        <h1 class="text-center">Register</h1>

        <div class="form-group">
          <label for="name">Full Name</label>
          <input v-model="form.name" id="name" type="text" class="form-input" />
        </div>

        <div class="form-group">
          <label for="username">Username</label>
          <input v-model="form.username" id="username" type="text" class="form-input" />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input v-model="form.email" id="email" type="email" class="form-input" />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input v-model="form.password" id="password" type="password" class="form-input" />
        </div>

        <div class="form-group">
          <label for="avatar">Avatar</label>
          <input v-model="form.avatar" id="avatar" type="text" class="form-input" />
        </div>

        <div class="form-actions">
          <button type="submit" class="btn-blue btn-block">Register</button>
        </div>
      </form>
      <div class="text-center push-top">
        <button @click="registerWithGoogle" class="btn-red btn-xsmall">
          <i class="fa fa-google fa-btn"></i>Sign up with Google
        </button>
      </div>
    </div>
  </div>
</template>
