<script setup>
import { ref, onMounted } from 'vue'
import { useRoute, useRouter } from 'vue-router'
import { useAsyncDataStatus } from '../composables/useAsyncDataStatus'
import { useAuthStore } from '@/stores/auth'

const route = useRoute()
const router = useRouter()
const { fetched } = useAsyncDataStatus()
const { signInWithEmailAndPassword, signInWithGoogle } = useAuthStore()

const form = ref({
  email: '',
  password: ''
})

const signIn = async () => {
  try {
    await signInWithEmailAndPassword({ ...form.value })
    successRedirect()
  } catch (error) {
    alert(error.message)
  }
}

const googleSignIn = async () => {
  signInWithGoogle()
  successRedirect()
}

const successRedirect = () => {
  const redirectTo = route.query.redirectTo || { name: 'Home' }
  router.push(redirectTo)
}

onMounted(() => fetched())
</script>

<template>
  <div class="flex-grid justify-center">
    <div class="col-2">
      <form @submit.prevent="signIn" class="card card-form">
        <h1 class="text-center">Login</h1>

        <div class="form-group">
          <label for="email">Email</label>
          <input v-model="form.email" id="email" type="text" class="form-input" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input v-model="form.password" id="password" type="password" class="form-input" />
        </div>

        <div class="push-top">
          <button type="submit" class="btn-blue btn-block">Log in</button>
        </div>

        <div class="form-actions text-right">
          <router-link :to="{name: 'Register'}">Create an account?</router-link>
        </div>
      </form>

      <div class="push-top text-center">
        <button @click="googleSignIn" class="btn-red btn-xsmall">
          <i class="fa fa-google fa-btn"></i>Sign in with Google
        </button>
      </div>
    </div>
  </div>
</template>
