<script setup>
import { computed, onBeforeMount } from 'vue'
import { useAuthStore } from '../stores/auth'
import { usePostsStore } from '@/stores/posts'
import { useThreadsStore } from '@/stores/threads'
import { useUsersStore } from '@/stores/users'
import { useAsyncDataStatus } from '@/composables/useAsyncDataStatus'
import PostList from '@/components/PostList.vue'
import PostEditor from '@/components/PostEditor.vue'
import AppDate from '../components/AppDate.vue'

const props = defineProps({
  id: {
    required: true,
    type: String,
  },
})

const authStore = useAuthStore()
const threadStore = useThreadsStore()
const { items, createPost, fetchPosts } = usePostsStore()
const { fetchThread } = useThreadsStore()
const { fetchUser, fetchUsers } = useUsersStore()
const { ready, fetched } = useAsyncDataStatus()

const thread = computed(() => threadStore.thread(props.id))
const posts = computed(() => items)
const authUser = computed(() => authStore.authUser)

onBeforeMount(async () => {
  // fetch the thread
  thread.value = await fetchThread({ id: props.id })

  // fetch the user
  fetchUser({ id: thread.value.userId })

  // fetch the posts
  posts.value = await fetchPosts({ ids: thread.value.posts })

  // fetch the users associated with the posts
  const usersIds = posts.value.map(post => post.userId)
  await fetchUsers({ ids: usersIds })
  fetched()
})


const addPost = (eventData) => {
  const post = {
    ...eventData.post,
    threadId: props.id,
  }
  createPost(post)
  posts.value.push(post)
}
</script>

<template>
  <div v-if="ready" class="col-large push-top">
    <h1>
      {{ thread.title }}
      <router-link v-if="thread.userId === authUser?.id" :to="{ name: 'ThreadEdit', id: this.id }">
        <button class="btn-green btn-small">Edit Thread</button>
      </router-link>
    </h1>

    <p>
      By <a href="#" class="link-unstyled">{{ thread.author?.name }}</a>, <AppDate :timestamp="thread.publishedAt" />.
      <span style="float:right; margin-top: 2px;" class="hide-mobile text-faded text-small">
        {{ thread.repliesCount }} replies by {{ thread.contributorsCount }} contributors
      </span>
    </p>

    <PostList :posts="posts" />

    <PostEditor v-if="authUser" @save="addPost" />
    <div v-else class="text-center" style="margin-bottom: 50px;">
      <router-link :to="{ name: 'SignIn', query: { redirectTo: $route.path } }">Sign In</router-link> or <router-link :to="{ name: 'Register', query: { redirectTo: $route.path } }">Register</router-link> to reply.
    </div>
  </div>
</template>
