<script setup>
import { computed, onMounted, ref } from 'vue'
import { onBeforeRouteLeave, useRouter } from 'vue-router'
import { findById } from '@/helpers'
import { useForumStore } from '@/stores/forum'
import { useThreadsStore } from '@/stores/threads'
import { useAsyncDataStatus } from '@/composables/useAsyncDataStatus'
import ThreadEditor from '../components/ThreadEditor.vue'

const props = defineProps({
  forumId: {
    type: String,
    required: true,
  },
})

const formIsDirty = ref(false)

const router = useRouter()
const { createThread } = useThreadsStore()
const { fetchForum, items } = useForumStore()
const { ready, fetched } = useAsyncDataStatus()

const forum = computed(() => findById(items, props.forumId))

const save = async ({ title, text }) => {
  const thread = await createThread({
    forumId: props.forumId,
    title,
    text,
  })
  router.push({ name: 'ThreadShow', params: { id: thread.id } })
}

const cancel = () => {
  router.push({ name: 'Forum', params: { id: forum.value.id } })
}

onMounted(async () => {
  await fetchForum({ id: props.forumId })
  fetched()
})

onBeforeRouteLeave(() => {
  if (formIsDirty.value) {
    const confirmed = window.confirm('Are you sure you want to leave? Unsaved changes will be lost!')
    if (!confirmed) return false
  }
})
</script>

<template>
  <div v-if="ready" class="col-full push-top">
    <h1>
      Create new thread in <i>{{ forum.name }}</i>
    </h1>

    <ThreadEditor @save="save" @cancel="cancel" @dirty="formIsDirty = true" @clean="formIsDirty = false" />
  </div>
</template>
