<script setup>
import { computed, onMounted, ref } from 'vue'
import { onBeforeRouteLeave, useRouter } from 'vue-router'
import { findById } from '@/helpers'
import { usePostsStore } from '@/stores/posts'
import { useThreadsStore } from '@/stores/threads'
import { useAsyncDataStatus } from '@/composables/useAsyncDataStatus'
import ThreadEditor from '../components/ThreadEditor.vue'

const props = defineProps({
  id: {
    type: String,
    required: true,
  },
})

const formIsDirty = ref(false)

const router = useRouter()
const threadsStore = useThreadsStore()
const postsStore = usePostsStore()
const { ready, fetched } = useAsyncDataStatus()

const thread = computed(() => findById(threadsStore.items, props.id))
const text = computed(() => {
  const post = findById(postsStore.items, thread.value.posts[0])
  return post ? post.text : ''
})

const save = async ({ title, text }) => {
  const thread = await threadsStore.updateThread({
    threadId: props.id,
    title,
    text,
  })
  router.push({ name: 'ThreadShow', params: { id: thread.id } })
}

const cancel = () => {
  router.push({ name: 'ThreadShow', params: { id: props.id } })
}

onMounted(async () => {
  const thread = await threadsStore.fetchThread({ id: props.id })
  await postsStore.fetchPost({ id: thread.posts[0] })
  fetched()
})

onBeforeRouteLeave(() => {
  if (formIsDirty.value) {
    const confirmed = window.confirm('Are you sure you want to leave? Unsaved changes will be lost!')
    if (!confirmed) return false
  }
})
</script>

<template>
  <div v-if="ready" class="col-full push-top">
    <h1>
      Editing <i>{{ thread.title }}</i>
    </h1>

    <ThreadEditor
      :title="thread.title"
      :text="text"
      @save="save"
      @cancel="cancel"
      @dirty="formIsDirty = true"
      @clean="formIsDirty = false"
    />
  </div>
</template>
