<script setup>
import { computed } from 'vue'
import dayjs from 'dayjs'
import relativeTime from 'dayjs/plugin/relativeTime'
import localizedFormat from 'dayjs/plugin/localizedFormat'

dayjs.extend(relativeTime)
dayjs.extend(localizedFormat)

const props = defineProps({
  timestamp: {
    required: true,
    type: [Number, Object]
  },
})

const normalizedTimestamp = computed(() => props.timestamp?.seconds || props.timestamp)
const diffForHumans = computed(() => dayjs.unix(normalizedTimestamp.value).fromNow())
const humanFriendlyDate = computed(() => dayjs.unix(normalizedTimestamp.value).format('llll'))
</script>

<template>
  <span :title="humanFriendlyDate">
    {{ diffForHumans }}
  </span>
</template>
