<script setup>
import ForumList from '@/components/ForumList.vue'
import { useForumStore } from '@/stores/forum'

defineProps({
  categories: {
    type: Array,
    required: true,
  },
})

const { getForumsForCategory } = useForumStore()
</script>

<template>
  <ForumList
    v-for="category in categories"
    :key="category.id"
    :forums="getForumsForCategory(category.id)"
    :title="category.name"
    :category-id="category.id"
  />
</template>
