<script setup>
import { ref } from 'vue'
import { useAuthStore } from '../stores/auth'
import { usePostsStore } from '../stores/posts'
import { useUsersStore } from '../stores/users'
import PostEditor from './PostEditor.vue'

defineProps({
  posts: {
    type: Array,
    required: true,
  },
})
const { authId } = useAuthStore()
const { updatePost } = usePostsStore()
const { user } = useUsersStore()

const editing = ref(null)

const toggleEditMode = (id) => {
  editing.value = id === editing.value ? null : id
}

const handleUpdate = (event) => {
  updatePost(event.post)
  editing.value = null
}
</script>

<template>
  <div class="post-list">
    <div class="post" v-for="post in posts" :key="post.id">
      <div v-if="user(post.userId)" class="user-info">
        <a href="#" class="user-name">
          {{ user(post.userId).name }}
        </a>
        <a href="#">
          <img
            class="avatar-large"
            :src="user(post.userId).avatar"
            alt="avatar"
          />
        </a>
        <p class="desktop-only text-small">{{ user(post.userId).postsCount }} posts</p>
        <p class="desktop-only text-small">{{ user(post.userId).threadsCount }} threads</p>
      </div>

      <div class="post-content">
        <div class="col-full">
          <PostEditor
            v-if="editing === post.id"
            :post="post"
            @save="handleUpdate"
          />
          <p v-else>{{ post.text }}</p>
        </div>
        <a
          v-if="post.userId === authId"
          @click.prevent="toggleEditMode(post.id)"
          href="#"
          style="margin-left: auto; padding-left: 10px;"
          class="link-unstyled"
          title="Make a change"
        >
          <fa icon="pencil-alt" />
        </a>
      </div>

      <div class="post-date text-faded">
        <div v-if="post.edited?.at" class="edition-info">edited</div>
        <AppDate :timestamp="post.publishedAt" />
      </div>
    </div>
  </div>
</template>
