<script setup>
import { ref } from 'vue'

const props = defineProps({
  post: { type: Object, default: () => ({ text: null }) }
})

const postCopy = ref({ ...props.post })

const emit = defineEmits(['save'])

const save = () => {
  emit('save', { post: postCopy.value })
  postCopy.value.text = ''
}
</script>

<template>
  <div class="col-full">
    <form @submit.prevent="save">
      <div class="form-group">
        <textarea v-model="postCopy.text" class="form-input"></textarea>
      </div>
      <div class="form-actions">
        <button class="btn-blue">{{ post.id ? 'Update Post' : 'Submit Post' }}</button>
      </div>
    </form>
  </div>
</template>
