<script setup>
import { computed, ref, watch } from 'vue'

const props = defineProps({
  title: { type: String, default: '' },
  text: { type: String, default: '' },
})

const form = ref({
  title: props.title,
  text: props.text
})

const emit = defineEmits(['save', 'cancel', 'dirty', 'clean'])

watch(
  form,
  () => {
    if (form.value.title !== props.title || form.value.text !== props.text) {
      emit('dirty')
    } else {
      emit('clean')
    }
  },
  { deep: true }
)

const save = () => {
  emit('clean')
  emit('save', { ...form.value })
}
const cancel = () => emit('cancel')

const existing = computed(() => !!props.title)
</script>

<template>
  <form @submit.prevent="save">
    <div class="form-group">
      <label for="thread_title">Title:</label>
      <input
        v-model="form.title"
        type="text"
        id="thread_title"
        class="form-input"
        name="title"
      />
    </div>

    <div class="form-group">
      <label for="thread_content">Content:</label>
      <textarea
        v-model="form.text"
        id="thread_content"
        class="form-input"
        name="content"
        rows="8"
        cols="140"
      ></textarea>
    </div>

    <div class="btn-group">
      <button @click="cancel" class="btn btn-ghost">Cancel</button>
      <button class="btn btn-blue" type="submit" name="Publish">
        {{ existing ? "Update" : "Publish" }}
      </button>
    </div>
  </form>
</template>
