<script setup>
import { onBeforeMount, onMounted, watch } from 'vue'
import { useRouter } from 'vue-router'
import { storeToRefs } from 'pinia'
import NProgress from 'nprogress'
import { useForumStore } from '@/stores/forum'
import { useAuthStore } from '@/stores/auth'
import TheNavbar from '@/components/TheNavbar.vue'
import '@/assets/style.css'
import 'nprogress/nprogress.css'

const router = useRouter()
const { showPage } = storeToRefs(useForumStore())
const { disableShowPage } = useForumStore()
const { fetchAuthUser } = useAuthStore()

NProgress.configure({
  speed: 200,
  showSpinner: false
})
onBeforeMount(() => NProgress.start())

onMounted(() => {
  fetchAuthUser()
  router.beforeEach(() => {
    disableShowPage()
  })
})

watch(showPage, () => {
  if (showPage.value === true) {
    NProgress.done()
  }
})
</script>

<template>
  <TheNavbar />
  <div class="container">
    <router-view v-show="showPage" :key="$route.path" />
    <AppSpinner v-show="!showPage" />
  </div>
</template>

<style>
#nprogress .bar {
  background: #57AD8D !important;
}
</style>
